*{
     padding: 0;
     margin:0;
     box-sizing: border-box;
}

body{
     background-image: url(./images/pattern-background-desktop.svg);
     background-repeat: no-repeat;
     background-color: hsl(225, 100%, 94%);
}

:root{
     --box-width:400px;
     --box-height:550px;
}

.box{
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     background-color: white;
     position: absolute;
     width: var(--box-width);
     height: var(--box-height);
     border-radius: 20px;
}

.box .img img{
     width: var(--box-width);
     border-radius: 20px 20px 0 0;
}

.box h1{
     font-family: 'Red Hat Display', sans-serif;
     font-size: 23px;
     font-weight: 900;
     color: hsl(223, 47%, 23%);
     text-align: center;
     margin-top: calc( var(--box-height) / 20);
}

.box p{
     font-family: 'Red Hat Display', sans-serif;
     font-size: 16px;
     font-weight: 400;
     color:  hsl(224, 23%, 55%);
     margin-top: calc( var(--box-height) / 30);
     text-align: center;
     padding: 0 45px;
}

.box .offer{
     width: 360px;
     position: absolute;
     max-width: 360px;
     height: 90px;
     display: grid;
     grid-template-columns: 33.3% 33.3% 33.3%;
     grid-template-rows: 50px 50px;
     background-color: hsl(225, 100%, 98%);
     margin: calc( var(--box-height) / 30) auto;
     left: 5%;
     border-radius: 10px;
}

.box .offer h1{
     font-size: 16px;
     position: absolute;
     left: 80px;
     top: -7px;
     margin: 27.5px 0  auto auto;
}

.box .offer img{
     margin: 20px;
}

.box .offer-ofert p{
     position: absolute;
     left: 36px;
     top: 30px;
}

.box .offer a{
     font-family: 'Red Hat Display', sans-serif;
     font-size: 16px;
     font-weight: 400;
     margin: 35px auto;
}

.btny{
     width: 360px;
     max-width: 360px;
     height: 40px;
     font-family: 'Red Hat Display', sans-serif;
     font-size: 15px;
     font-weight: 700;
     color:hsl(225, 100%, 98%);
     text-align: center;
     background-color: hsl(245, 75%, 52%);
     position: absolute;
     bottom:  calc( var(--box-height) / 12);
     left: 5%;
     border-radius: 10px;
     box-shadow: 0px 22px 50px -10px rgba(0,0,0,0.47);
}

.btny h4{
     margin-top:10px ;
}

.btnn{
     font-family: 'Red Hat Display', sans-serif;
     font-size: 15px;
     font-weight: 900;
     position: absolute;
     color: hsl(224, 23%, 55%);
     text-align: center;
     bottom: calc( var(--box-height) / 30);
     z-index: 9;
     left: 38%;
}